html { overflow:hidden; }

/*-----------------------------------------Login -------------------------------------*/



body
{
    background-image: url("../images/bg_color.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form {
    border: 3px solid #f1f1f1;
    width: 20%; 
    /* IMPORTANTE */ 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h2{
    text-align: center;
    color: crimson;
}
h3{
    text-align:right;
    color: crimson;
}


button {
    
    background-color: #d60000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.error{
    color: #d60000;
    font-size:18px;   
    font-weight: bold;    
    font-family: 'Comic Sans','Trebuchet MS',Arial,Helvetica,sans-serif;    
    float:center;
    padding-top: 15px;
    padding-left: 10px;
}

.msg{
    color: red;
    font-size:14px;   
    font-weight: bold;    
    font-family: 'Comic Sans','Trebuchet MS',Arial,Helvetica,sans-serif;    
    float:right;
    padding-top: 15px;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #d60000;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
	background-color:transparent;

}
.text_box{
   
    background-color:transparent;
    color: white;
}

a:visited {
    color: blue;
}

a:hover {
    color:red;
}

a{
	color: goldenrod;
	
}


span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*-----------------------------------------Video -------------------------------------*/



/* Default hide the video on all devices */
#video{display:none}

/* Default display the image to replace the video on all devices */
#videosubstitute{display:block;width:100%;height:auto;max-width:100%}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
#video{display:block}
#videosubstitute{display:none}
}
#videoDiv {width: 100%; height: 360px; position: relative;}
#videoBlock,#videoMessage {width: 100%; height: 360px; position: absolute; top: 0; left: 0;}
#video{width: 100%; }
#videoMessage {padding:0.4em; margin:0}
#videoMessage {text-shadow: 2px 2px 2px #000000; color:white;z-index:99 }
#videoMessage h1{font-size: 3em;color:#ffffff;text-align:center;}
#videoMessage h2{font-size: 2.5em;color:#ffffff;text-align:center;}
#videoMessage h3{font-size: 2.0em;color:#ffffff;text-align:center;}
.videoClick {text-align:center}
.videoClick a{color:white;background-color:rgba(241, 241, 241, 0.25);font-size: 1.7em;cursor:pointer;cursor:hand}
