

html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body{margin:0;
	padding:0;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif; 
	color:black;
	background-color:#d60000; 
	
}



.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

code{font-weight:normal; font-style:normal; font-family:Georgia, "Times New Roman", Times, serif;}

.fl_left{float:left;}
.fl_right{float:right;}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, nav, section{display:block; margin:0; padding:0;}

q{display:block; padding:0 10px 8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
q:before{content:'“ '; font-size:26px;}
q:after{content:' „'; font-size:26px; line-height:0;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:inline-block; width:100%; margin:0; padding:0; text-align:left;}

.row1, .row1 a{color:#FFFFFF; background-color:#d60000;}      /* cabecera*/
.row2{color:red; background-color:#FFFFFF;}                  /*contenido*/
.row2 a{color:#FF9900; background-color:#FFFFFF;}
.row3, .row3 a{color:#FFFFFF; background-color:#d60000;}    /* footer*/


/*----------------------------------------------Generales-------------------------------------*/

#header, #container, #footer{display:block; width:960px; margin:0 auto;}

nav ul{margin:0; padding:0; list-style:none;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:20px; font-weight:normal; font-style:normal; line-height:normal;}

address{font-style:normal;}

blockquote, q{display:block; padding:8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
blockquote:before, q:before{content:'“ '; font-size:26px;}
blockquote:after, q:after{content:' „'; font-size:26px; line-height:0;}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:Georgia,"Times New Roman",Times,serif;}

/*.one_third, */.videos, .three_third{display:block; float:left; margin:0 30px 0 0;}
/*.one_third{width:300px;}*/
.videos{width:960px;}
.three_third{width:960px; float:none; margin-right:0; clear:both;}
/*.lastbox{margin-right:0;}*/

/*----------------------------------------------Header-------------------------------------*/

#header{}

#header #hgroup{padding:20px 0 0 0; float:left;}
#header #hgroup h1, #header #hgroup h2{font-weight:normal; text-transform:none;}
#header #hgroup h1{font-size:36px;}
#header #hgroup h2{font-size:13px;}

#header nav{display:block; float:right; margin:20px 0 0 0; padding:20px 10px; border-top:1px solid #DEDEDE; border-bottom:1px solid #DEDEDE;}
#header nav ul{}
#header nav li{display:inline; margin-right:25px; text-transform:uppercase;}
#header nav li.last{margin-right:0;}
#header nav li a{}
#header nav li a:hover{color:black; background-color:#d60000;}

/*----------------------------------------------Contenido -------------------------------------*/

#container{padding:30px 0;}
#container section{display:block; width:100%; margin:0 0 30px 0; padding:0;}
/*
#container .last{margin:0;}
#container .more{text-align:right;}*/



#container #homepage{display:block; width:100%; line-height:1.6em;}

#container #homepage .artistas{margin:0; font-size:12px;}
#container #homepage .artistas article{}
#container #homepage .artistas article h2{margin-bottom:10px; text-transform:uppercase; font-size:14px; font-weight:bold;}
#container #homepage .artistas article img{float:left; padding:4px; border:1px solid #D6D6D6;}
#container #homepage .artistas article p{display:block; float:right; width:200px; margin:0; padding:0;}
#container #homepage .artistas article footer{padding-top:10px; clear:both;}

#container #homepage .spacer{display:block; width:100%; height:30px; margin:0; padding:0; clear:both;}



/* ------Slider-----*/

#container #slider{}
#container #slider figure{}
#container #slider figure img{float:left; width:630px; height:300px;}
#container #slider figure figcaption{display:block; float:right; width:260px; height:260px; padding:20px; color:#989898; background-color:#333333; line-height:1.8em;}
#container #slider figure figcaption a{color:#FF9900; background-color:#333333;}
#container #slider figure h2{padding-bottom:8px; border-bottom:1px solid #DEDEDE;}
#container #slider figure footer{}


.lista_reproduccion{
	
/*	display:inline-flex; 
	float:right;
	width:260px; 
	height:260px; 
	padding:20px; 
	color:#989898;
	background-color:#333333; 
	line-height:1.8em;*/
}



/*----------------------------------------------Footer-------------------------------------*/

#footer{padding:20px 0;}
#footer p{margin:0; padding:0;}


/*---------------------------------------------- Galeria Imagenes Videos -------------------------------------*/


div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
	/* --- revisar----*/
	color: #21A1D2;
	font-size: 15px;
	margin-top:5px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



.responsive-item-content {     
      
      text-align: center;   

       }
      .responsive-item-content .fa {
        display: inline;
        float: center;
         }
      .responsive-item-content a {
        display: block;
        width: 100%;
        color: #fff; }




/*----------------------------------------- Galeria Imagenes Artistas-------------------------------------*/
/*
.img-circle {
    border-radius: 50%;
}
*/

.circular {
	width: 200px;
	height: 200px;
	text-align: left;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	/*background: url(http://link-to-your/image.jpg) no-repeat;*/
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

.circular:hover{
	 border: 1px solid red;
}


.descA {
    padding: 25px;
    text-align: center;
	/* --- revisar----*/
	color: #21A1D2;
	font-size: 15px;
	margin-top:5px;
}
/*-----------------------------------------Reproductor Video-------------------------------------*/

.video-options {
    width: 800px;
    padding: 20px;
    border: 5px solid gray;
    margin: 0;
	margin-top: auto;
	margin-bottom: auto;
}






/*-----------------------------------------Barra Busqueda  Opcion a Borrar-------------------------------------*/

@import "compass/css3";

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 15px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 2px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 30px;
	height: 30px;
  padding: 0;
  border: none;
	margin-top: 10px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  line-height: 50px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: red;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}


/****************
 * Pretify demo borrar luego * 
 ****************/
.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}




/*-----------------------------------------Texto Central Contenido-------------------------------------*/
.desctext p{
    margin:0; 
    padding:6px;
    font-family: "Palatino Linotype", ‘Book Antiqua’, Palatino, serif;
    color:dimgrey;
    font-size: 20px;

}



/*-----------------------------------------Form Login-------------------------------------*/



  /*  background: url(images/logo2.png) no-repeat 0 0;
   background-image: url("../images/playlist.png");
    text-indent: -9999px;*/
}



/*-----------------------------------------Botones Lista Reproduccion-------------------------------------*/

.buttonList {
    
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:pointer;
	   -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	/*background: url(../images/orange_file.gif) no-repeat 0 0*/
}

.buttonList:hover {
    background-color: red; /* Red */
    color: white;
	
}
.buttonAccion {
    
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display:inline-flex;
	
    font-size: 12x;
    margin: 4px 2px;
    cursor:pointer;
	   -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	/*background: url(../images/orange_file.gif) no-repeat 0 0*/
}


.buttonAccion:hover {
    background-color: red; /* Red */
    color: white;
	
}


.buttonRed {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}






/*----------------------------------------- Crear Lista Reproduccion-------------------------------------*/



#txt_titulo { visibility: hidden;}

#btn_crear { visibility: hidden; }
#btn_cancelar { visibility: hidden;}

#miListaTitle  {  
	 font-family: "Palatino Linotype", ‘Book Antiqua’, Palatino, serif;
    color:black;
    font-size: 20px;
	visibility: hidden;
}

#miListaImg{
	visibility: hidden;
}

/*-----------------------------------------  Detalle Artista -------------------------------------*/

.detalle_artista {
    padding: 0 6px;
    float: center;
   
}



.artista_circular {
	width: 300px;
	height: 300px;
	text-align: center;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	/*background: url(http://link-to-your/image.jpg) no-repeat;*/
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

.artista_circular:hover{
	 border: 1px solid red;
}

.nombreArtista {
    padding: 25px;
    text-align: center;
	/* --- revisar----*/
	color: #21A1D2;
	font-size: 25px;
	margin-top:5px;
}

.descArtista {
    padding: 25px;
	
	margin-top:5px;
}




.descArtista p {color: black; font-size:18px;}
.descArtista b {color: red; font-size:18px;}

@media only screen and (max-width: 700px){
    .detalle_artista {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .detalle_artista {
        width: 100%;
    }
}






/*-----------------------------------------  Modal -------------------------------------*/



/*  Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Contenido */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/*  Animacion */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/*  boton cerrar */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #d60000;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #d60000;
    color: white;
}

/*otro video*/

#video_background { 
	position: absolute; 
	bottom: 0px; 
	right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden; 
}
#video_pattern { 
	background:#fff; 
	position: fixed; 
	opacity: 0.8; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: 1; 
}