
/*-----------------------------------------Login -------------------------------------*/



body
{
    background-image: url("../images/bg_color.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form {
    border: 3px solid #f1f1f1;
    width: 20%; 
    /* IMPORTANTE */ 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h2{
    text-align: center;
    color: crimson;
}
h3{
    text-align:right;
    color: crimson;
}


button {

    background-color: #d60000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.error{
    color: #d60000;
    font-size:16px;   
    font-weight: bold;    
    font-family: 'Comic Sans','Trebuchet MS',Arial,Helvetica,sans-serif;    
    float:center;
    padding-top: 15px;
    padding-left: 21px;
	
}

.msg{
    color: #d60000;
    font-size:14px;   
    font-weight: bold;    
    font-family: 'Comic Sans','Trebuchet MS',Arial,Helvetica,sans-serif;    
    float:center;
    padding-top: 15px;
    padding-left: 15px;
}


a:visited {
    color: blue;
}

a:hover {
    color:red;
}

a{
	color: goldenrod;
	
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #d60000;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    background-color:transparent;
    
}

.text_box{
   
    background-color:transparent;
    color: white;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


/*-----------------------------------------Video Div -------------------------------------*/

* {
    margin: 0;
    padding: 0;
}


#formulario {
    display: none;
    position: absolute;
    top: 20%;				
    width: 100%;
    color:white;
}

#formulario h2{font-size: 2.5em;color:#ffffff;text-align:center;}

#video-background {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -100;
}

